* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/*Background Image*/
body {
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTwaiwmFsVFT2kbj3gAu_HI6yp7RTeIETdzAQ&usqp=CAU);

}


.top-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 50px;
    background-color: rgb(35, 71, 164)
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.search {}

.navigation div ul li {
    display: inline-block;
    margin-left: 25px;
}

.searchArtistHeader {
    background-color: white;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 24px;
}