body {
    background-image: url();
   
} 


.top-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 50px;
    background-color: rgb(35, 71, 164)
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.search {

}